*{
    margin: 0;
}
.box{
    width: 100%;
    background: #a0a0a0;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.box-contents{
    padding: 10px;
    margin: 10px;
    background: white;
    width: 50%;
    border: 1px solid;
    border-radius: 8px;
}
button{
    background: blue;
    padding: 10px;
    border: 1px solid;
    margin: 10px !important;
    border-radius: 8px !important;
    color: white;
}